<!DOCTYPE html>
<html lang="ko" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- partial "head/meta.html" . -}}
    {{- partial "head/library.html" . -}}
    {{- partial "head/font.html" . -}}
    {{- partial "head/dark.html" . -}}
    
</head>

<body class="bg-white dark:bg-neutral-900 text-neutral-800 dark:text-neutral-300 overflow-x-hidden antialiased break-words">
    <div id="root-container" class="relative min-h-screen break-words">
        <input type="checkbox" id="leftNavToggleCheckbox" class="hidden peer">

        <!-- Left Navigation Sidebar 틀 -->
        <nav id="left-nav-container"
            class="fixed top-0 left-0 h-screen z-30 bg-white dark:bg-neutral-900 border-r border-neutral-200 dark:border-neutral-800 transition-transform duration-300 ease-in-out w-[calc(100%-4rem)] -translate-x-full peer-checked:translate-x-0 overflow-y-hidden">
            {{ partial "left-nav.html" . }}
        </nav>

        <!-- Main Content Wrapper -->
        <div id="main-content-wrapper"
            class="w-full flex flex-col relative transition-transform duration-300 ease-in-out min-w-0 peer-checked:translate-x-[calc(100%-4rem)] z-20">

            <!-- Header -->
            {{ partial "header.html" . }}

            <div class="flex flex-1 items-start">
                <!-- Main Content Area -->
                <main class="flex-1 transition-all duration-300 ease-in-out min-w-0 break-words">
                    <div id="page-wrapper" class="w-full pt-6 px-2 md:pt-8 md:px-8 break-words">
                        
                        <!-- home, page, section, taxonomy, term -->
                        {{ block "main" . }}{{ end }}

                    </div>
                </main>

                <!-- Right Sidebar 틀 -->
                <!-- 우측 사이드바 -->
                <aside id="right-sidebar-container" class="fixed top-14 right-0 z-40 h-[calc(100vh-3.5rem)] bg-white dark:bg-neutral-900 border-l border-neutral-200 dark:border-neutral-800 transition-all duration-300 ease-in-out translate-x-full
                            md:sticky md:top-14 md:h-[calc(100vh-3.5rem)] md:w-0 md:translate-x-0 md:bg-transparent dark:md:bg-transparent md:border-none
                            flex flex-col flex-shrink-0 overflow-hidden">
                    {{ partial "right-sidebar.html" . }}
                </aside>
            </div>
        </div>
    </div>

    <!-- main.js 부르기 -->
    <script src="{{ .Site.BaseURL }}js/main.js" defer></script>
    <script src="{{ .Site.BaseURL }}js/util/content_width.js" defer></script>
</body>
</html>