{{ define "main" }}
    <!-- term.html이 스스로 꽉 찬 너비의 컨테이너를 생성합니다. -->
    <div id="content-container" class="w-full max-w-none">
        <header class="mb-8 pb-4 border-b border-neutral-200 dark:border-neutral-800">
            <!-- "Tag" 또는 "Category"와 같은 분류 이름을 동적으로 표시합니다. -->
            <p class="text-center text-base font-semibold text-primary-blue-light latin-font">
                {{ .Data.Singular | humanize | title }}
            </p>
            <h1 class="text-4xl font-extrabold text-center text-neutral-900 dark:text-neutral-100 latin-font mt-1">
                {{ .Title }}
            </h1>
            <p class="text-center text-neutral-500 dark:text-neutral-400 mt-2">
                A collection of {{ len .Pages }} posts.
            </p>
        </header>

        <!-- 글 목록 (list.html과 동일한 grid 구조) -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
            {{ range .Pages }}
                <a href="{{ .Permalink }}" class="block p-6 border border-neutral-200 dark:border-neutral-800 rounded-lg transition-all duration-300 hover:shadow-xl hover:border-primary-blue-light dark:hover:border-primary-blue-light">
                    <h2 class="text-xl font-bold mb-2 latin-font">{{ .Title }}</h2>
                    <p class="text-neutral-600 dark:text-neutral-400 text-sm break-words">{{ .Summary | plainify | truncate 300 }}</p>
                </a>
            {{ end }}
        </div>
        
        <!-- 페이지네이션 컨트롤 -->
        {{/*  {{ partial "pagination.html" . }}  */}}

        <!-- 푸터를 직접 포함시킵니다. -->
        {{ partial "footer.html" . }}
    </div>
{{ end }}