<details class="group space-y-2 m-3">
    <summary
        class="flex items-center justify-between w-full p-2 text-left hover:bg-neutral-100 dark:hover:bg-neutral-800 rounded-md cursor-pointer list-none">
        <span class="flex items-center text-sm font-semibold">
            <span class="ln-file-tree-folder-icon mr-3 text-neutral-400 dark:text-neutral-500">
                <span class="ln-icon w-5 h-5 block"></span>
            </span>
            <a href="{{ .Site.Home.Permalink }}" class="hover:underline" onclick="event.stopPropagation();">폴더별</a>
        </span>
        <span class="flex items-center justify-center w-5 h-5 text-neutral-400 dark:text-neutral-500">
            <span class="ln-chevron-main w-4 h-4 block transform transition-transform duration-200 group-open:rotate-180"></span>
        </span>
    </summary>
    <div class="pl-6 mt-1">
        <ul id="ln-file-tree" class="space-y-1 list-none">
            {{ partial "left-nav/tree-view.html" (dict "currentSection" .Site.Home "currentPage" .) }}
        </ul>
    </div>
</details>