{{/* layouts/_partials/left-nav/search.html */}}
<div class="p-4 pb-0">
    <div class="relative mb-4">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-neutral-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </span>
        <input type="text" id="search-input" placeholder="검색..."
            class="w-full py-2 pl-10 pr-4 bg-neutral-100 dark:bg-neutral-800 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    <div id="search-results" class="mb-4 max-h-96 overflow-y-auto hidden">
        <!-- 검색 결과가 여기에 동적으로 표시됩니다 -->
    </div>
</div>