{{/* layouts/partials/left-nav/tree-view.html */}}
{{ $currentSection := .currentSection }}
{{ $currentPage := .currentPage }}

{{ range $currentSection.Sections }}
    {{ if .IsSection }}
        <li class="ln-folder">
            <details class="group" {{ if $currentPage.IsAncestor . }}open{{ end }}>
                <summary class="flex items-center p-2 text-left rounded-md cursor-pointer list-none text-sm">
                    <span class="ln-toggle-icon flex items-center justify-center w-5 h-5 mr-1">
                        <span class="ln-chevron"></span>
                    </span>
                    <span class="ln-folder-icon mr-2">
                        <span class="ln-icon"></span>
                    </span>
                    <a href="{{ .Permalink }}" class="ln-folder-name hover:underline flex-grow" onclick="event.stopPropagation();">
                        {{ .Title }}
                    </a>
                </summary>
                <ul class="ml-6 mt-1 space-y-1">
                    {{ partial "left-nav/tree-view.html" (dict "currentSection" . "currentPage" $currentPage) }}
                </ul>
            </details>
        </li>
    {{ end }}
{{ end }}

{{ range $currentSection.RegularPages.ByTitle }}
    <li class="ln-file">
        <a href="{{ .Permalink }}"
            class="flex items-center p-2 text-sm rounded-md {{ if eq $currentPage.Permalink .Permalink }}text-blue-600 font-bold bg-blue-50 dark:bg-blue-900/20{{ else }}hover:bg-neutral-50 dark:hover:bg-neutral-800/50 hover:border-primary-blue-light dark:hover:border-primary-blue-light{{ end }}">
            <span class="ln-file-icon mr-2">
                <span class="ln-icon"></span>
            </span>
            <span class="ln-file-name">{{ .Title }}</span>
        </a>
    </li>
{{ end }}